h5py==3.7.0
matplotlib==3.4.3
torch==1.10.0
opencv-python==4.5.3.56
numpy==1.21.2
Pillow==8.4.0
dataset==1.1.2
progressbar2==3.53.1
train==0.0.3
boto3==1.18.71
requests==2.26.0
tqdm==4.62.3
